.nav-container {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.link {
    text-decoration: none;
    padding: 6px 10px;
    border-bottom: 3px solid rgb(147, 159, 244);
    margin: 0 10px;
    color: rgb(104, 118, 243);
    font-size: 16px;
    font-weight: 700;
}

.active-link {
    text-decoration: none;
    padding: 6px 10px;
    border-bottom: 3px solid rgb(31, 4, 166);
    margin: 0 10px;
    color: blue;
    font-size: 20px;
    font-weight: 700;
}